<h1>Decode Away!</h1>

<form action="show" method="post" accept-charset="utf-8" >
  <label for="shift">Shift Letter</label>
  <input type="text" name="shift" id="shift" />

  <label for="message">Message to Decode</label>
  <input type="text" name='message' id="message"/>

  <input type="submit", value="DECODE!" />
</form>
